{%- if pagename != "search" and builder != "singlehtml" %}
<div id="searchbox" style="display: none" role="search">
  <h3>{{ _('Quick search') }}</h3>
    <form class="search" action="{{ pathto('search') }}" method="get">
      <input type="text" name="q" />
      <input type="submit" value="{{ _('Go') }}" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    {{ _('Enter search terms or a module, class or function name.') }}
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
{%- endif %}

